@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    color: white;
    text-decoration: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0093E9;
    background: linear-gradient(45deg, #0093E9, #80D0C7);
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 90vh;
    overflow-x: hidden;
}

.card {
    width: 22rem;
    padding: 25px;
    margin: 30px;
    border-radius: 20px;
    background-color: rgb(154, 70, 233);
    background: linear-gradient(135deg, #eea9ff, #9a01d6);
    background-size: 400% 400%;
    animation: change 5s ease-in-out infinite;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

p {
    margin: 0px 0px 10px 0px;
    font-size: 15px;
}

.display-image {
    align-self: center;
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.about {
    padding: 17px 5px 5px 5px;
    font-weight: 600;
    color: white;
}

.link-set {
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

.link-tab {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 10px 20px;
    margin: 10px 0px;
    background-color: rgb(226, 69, 69);
    border-radius: 7px;
    color: white;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    transition: 1s;
}

.link-tab img {
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50%;
}

.link-tab:hover {
    transform: scale(1.05);
}

.app-icon {
    height: 30px;
}

footer {
    font-weight: 400;
    font-size: 14px;
    margin-top: 10px;
}

.mini-github {
    height: 17px;
}

@keyframes change {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}